body {
  background-color: hsl(0, 0%, 80%);
}

header p {
  color: black;
  font-family: verdana;
  font-size: 200%;
  padding: 0px 5px;
  line-height: 40px;
}

h1 {
  color: black;
  font-family: verdana;
  font-size: 130%;
  font-weight: normal;
  padding: 0px 10px;
}

p {
  color: black;
  font-family: verdana;
  font-size: 100%;
}

.entry_list{
  list-style-type: square;
  font-family: verdana;
  font-size: 100%;
}

.entry_list li a {
  color: MediumBlue;
}

.entry_list li a:hover {
  color: black;
}

a {
  color: MediumBlue;
}

a:hover {
  color: black;
}

.menu nav {
  font-family: verdana;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #666666;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding:  13px 25px;
  text-decoration: none;
}

.current_page {
	background-color: #111111;
}

.menu li a:hover {
  background-color: #333333;
}